.App{
  text-align: center;
  font-size: 35px;
  margin-top: 20%;
}

.App-title{
  font-size:1.5em;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds{
  display:inline;
  margin: 0.5em;
}

.Deadline-input{
  font-size: 25px;
  margin: 5px;
}
